html {
  background-color: #425cbb;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
}

div {
  white-space: pre-wrap;
}

#challenge {
  margin: auto;
  font-size: 3em;
  font-family: "Open Sans";
  color: white;
  text-align: center;
}
